* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
::selection {
    color: white;
    background: red;
}
html {
    scroll-behavior: smooth;
}

header, section, footer{
	width: 100%;
	float: left;
}
p{
	color: #999;
}
h1, h2,h3{
	color: #2d3950;
}
.container{
	margin: 0 auto;
	width: 1140px;
	max-width: 100%;
}

.col-md-3 {
    width: 33.33%;
    float: left;
    padding: 10px;
}
.col-md-4 {
    width: 25%;
    float: left;
    padding: 10px;
}
.col-md-6 {
    width: 50%;
    float: left;
    padding: 10px;
}

.heder_area {
	background-color: #f6f9f9;
	padding: 20px 0;
}
.logo{

}
.slider{
	background-image: url('../images/image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.strict {
	width: 600px;
	margin: 0 auto;
}
.strict h1 {
	font-size: 120px;
	text-align: center;
	color: #fff;
	margin-top: 210px;
}
.strict hr {
	width: 100%;
	border-radius: 10px;
	height: 3px;
	background: #15a4fa;
	border: none;
	margin: 0 auto;
}

.strict p {
	margin-top: 40px;
	margin-bottom: 65px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
.link {
	text-align: center;
	margin-bottom: 175px;
}
.link a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 20px 35px;
	border: 1px solid #15a4fa;
	font-size: 18px;
	border-radius: 3px;
}
.link a:hover {
    background: #15a4fa;
}
.icon {
	text-align: center;
}
.icon .fa.fa-angle-down {
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-bottom: 90px;
}


.simple_area {
	padding: 70px 0;
	background: #f6f9f9;
}
.artical {
	text-align: center;
}
.artical h2 {
	font-size: 40px;
}
.simple_area p {
	font-size: 20px;
	color: #999;
	padding: 20px;
}

.icon_area {
	padding: 60px 0;
}

.icon-text {
	padding: 10px;
}

.icon-text h3, .icon-text p{
	padding: 10px;
}

.icon-devic {
	width: 100px;
	margin: 0 auto;
}
.fa.fa-mobile.fa-4x {
	padding: 12px;
}
.fa-3x , .fa-4x {
	padding: 20px;
	background: rgb(72,186,255);
	background: -webkit-linear-gradient(left, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%);
	background: -o-linear-gradient(left, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%);
	background: linear-gradient(to right, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%);
	width: 100%;
	color: #fff;
}

.portfolio_area {
	background: #f6f9f9;
	padding: 80px 0;
}
.portfolio-title {
	text-align: center;
	padding-bottom: 50px;
}


.portfolio-title h2, .contact-title h2 {
	font-size: 41px;
	color: #2d3950;
}

.portfolio-title p, .contact-title p {
	font-size: 15px;
	margin-top: 20px;
	color: #999;
}
.col-1{
	position: relative;
}
.col-1 .img {
    width: 100%;
}
.col-1 .img img {
	display: block;
	width: 100%;
}

.col-1 .opacity {
	visibility: hidden;
	position: absolute;
	background: #2babf7d6;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: .4s ease-in-out;
	transform: scale(0);
}
.col-1:hover .opacity {
	visibility: visible;
	position: absolute;
	transform: scale(0.9);
}

.col-1 .icon {
	visibility: hidden;
	position: absolute;
	background: #2babf7d6;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: .4s ease-in-out;
	transform: scale(0);
}
.col-1:hover .icon {
	visibility: visible;
	position: absolute;
	transform: scale(0.9);
	background: #2babf700;
}

.fa.fa-search-plus {
	position: absolute;
	top: 32%;
	left: 31%;
	padding: 10px;
	color: #fff;
	border: 1px solid #fff;
	margin: 10px;
	transform: translate(50%, 50%);
}
.fa.fa-link {
	position: absolute;
	top: 32%;
	padding: 10px;
	color: #fff;
	border: 1px solid #fff;
	margin: 10px;
	transform: translate(50%, 50%);
	left: 44%;
}

.portfolio-single-inner {
  width: 100%;
}

.contact {
	position: relative;
	padding: 100px 0px;
	background-image: url('../images/image2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.contact-title {
	text-align: center;
	z-index: 10;
	position: relative;
	color: #fff;
}
.contact-title h2 {
	color: #fff;
}
.contact-title p {
	margin-bottom: 40px;
}
.contact .form-group {
	width: 50%;
	margin: 0 auto;
	z-index: 10;
	position: relative;
}
::placeholder{
	color: #999;
}
.form-control, textarea {
	width: 100%;
	padding: 20px;
	border: 1px solid #999;
	margin: 10px auto;
	background: no-repeat;
	border-radius: 3px;
	color: #fff;
}
.btn {
	color: #fff;
	padding: 10px 40px;
	border: 1px solid #15a4fa;
	font-size: 18px;
	background: no-repeat;
	margin-top: 12px;
	float: right;
	border-radius: 3px;
}
.btn:hover{
  background: #15a4fa;
}

label {
	color: #fff;
	margin-top: 10px;
	display: inline-block;
	padding-top: 13px;
}
#check {
	margin-right: 10px;
}

.container-opacity {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #2a354a;
	opacity: .8;
	z-index: 1;
}

footer {
	padding: 25px 0px;
	background-color: #f6f9f9;
}
footer a {
	text-decoration: none;
	color: #15a4fa;
}
footer p {
	padding: 15px;
}
.social-icon {
	text-align: right;
}
.social-icon li {
	display: inline-block;
	padding: 2px;
	width: 40px;
}
.social-icon .fa {
	background: #15a4fa;
	padding: 10px;
	width: 100%;
	text-align: center;
	color: #fff;
	border-radius: 3px;
}
